.product_catalog {
    text-align: center;
    color: black;
}

.product {
    border: 1px solid black;
}

.product_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
}

.product img {
    width: 100%;
    border-radius: 4px;
}