.product_catalog {
    text-align: center;
    color: black;
}

.product {
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 248, 239);
}

.product_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product p {
    font-weight: bold;
}