.product_catalog {
    text-align: center;
    color: black;
}

.product {
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #f7e6d0;
}

.product_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
}

.product img {
    width: 100%;
    border-radius: 10px;
}
